<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ColorTheme</key>
	<string>Red</string>
	<key>ServerURL</key>
	<string>https://server123.com</string>
	<key>UserAccount</key>
	<string>user@abc.com</string>
</dict>
</plist>
